<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.dao.MsgMapper" >
  <resultMap id="BaseResultMap" type="com.woniuxy.entity.Msg" >
    <id column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="entryTime" property="entrytime" jdbcType="VARCHAR" />
    <result column="eStatus" property="estatus" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findMsgCount" resultType="int">
    select count(*) from msg
    <where>
      <if test="mname!=null and mname != '' ">
        and mname like CONCAT('%',#{mname},'%')
      </if>
      <if test="age!=0 ">
        and age=#{age}
      </if>
    </where>
  </select>
  <select id="findMsgByPage" resultType="Msg" >
        select * from msg limit #{msgIndex},#{size}
  </select>
  <select id="findPageBeanByFuzzy" resultType="Msg" >
        select * from msg
        <where>
          <if test="mname!=null and mname != '' ">
             and mname like CONCAT('%',#{mname},'%')
          </if>
          <if test="age!=0 ">
             and age=#{age}
          </if>
        </where>
        limit #{msgIndex},#{size}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mid, mname, sex, age, mobile, email, birthday, identity, image, position, entryTime, 
    eStatus, uid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniuxy.entity.MsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from msg
    where mid = #{mid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from msg
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.entity.MsgExample" >
    delete from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.entity.Msg" >
    insert into msg (mid, mname, sex, 
      age, mobile, email, 
      birthday, identity, image, 
      position, entryTime, eStatus, 
      uid)
    values (#{mid,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{entrytime,jdbcType=VARCHAR}, #{estatus,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.entity.Msg" >
    insert into msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="mname != null" >
        mname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="entrytime != null" >
        entryTime,
      </if>
      <if test="estatus != null" >
        eStatus,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="entrytime != null" >
        #{entrytime,jdbcType=VARCHAR},
      </if>
      <if test="estatus != null" >
        #{estatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.entity.MsgExample" resultType="java.lang.Integer" >
    select count(*) from msg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update msg
    <set >
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=VARCHAR},
      </if>
      <if test="record.mname != null" >
        mname = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.identity != null" >
        identity = #{record.identity,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.entrytime != null" >
        entryTime = #{record.entrytime,jdbcType=VARCHAR},
      </if>
      <if test="record.estatus != null" >
        eStatus = #{record.estatus,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update msg
    set mid = #{record.mid,jdbcType=VARCHAR},
      mname = #{record.mname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      identity = #{record.identity,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      entryTime = #{record.entrytime,jdbcType=VARCHAR},
      eStatus = #{record.estatus,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.entity.Msg" >
    update msg
    <set >
      <if test="mname != null" >
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="entrytime != null" >
        entryTime = #{entrytime,jdbcType=VARCHAR},
      </if>
      <if test="estatus != null" >
        eStatus = #{estatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.entity.Msg" >
    update msg
    set mname = #{mname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      entryTime = #{entrytime,jdbcType=VARCHAR},
      eStatus = #{estatus,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
</mapper>